.login-wrapper {
	display: grid;
	place-content: center;
	min-height: 100vh;
}

.login-form {
	background-color: #0cbaba;
	background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
	color: #ffffff;
	padding: 60px;
	border-radius: 10px;
}

.login-input {
	display: flex;
	flex-direction: column;
}

.login-input label {
	margin-bottom: 5px;
}

.login-input input {
	border-radius: 20px;
	padding: 5px;
	margin-bottom: 10px;
}

.login-btn {
	width: 100%;
	border-radius: 20px;
	padding-inline: 10px;
	font-size: 1.2rem;
}
