.navbar {
    position: fixed;
    right: 0;
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    align-items: center;
    width: 80%;
    padding: 0.25rem 2rem; /* Decrease the padding to make the navbar smaller */
    background-color: #fff;
    z-index: -1;
}

.navbar img {
    max-width: 100%;
    height: 50px; /* Adjust as needed */
}
.search-bar{
    margin-left: 1rem;
    padding: 10px;
    border-radius: 10px;
}
.language-select{
    padding: 8px;
    border-radius: 10px;
}
.user{
    display: flex;
    align-items: center;
    gap: 1rem;

}



@media screen and (max-width: 768px) {
    /* Apply styles when the window size is 768px or smaller */
    .navbar {
        padding: 0.125rem; /* Further decrease the padding for smaller screens */
    }
}
