@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* makes sizing simpler */

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */

* {
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
}

/* min body height */

body {
	min-height: 100vh;
}

/* responsive images/videos */
img,
picture,
svg,
video {
	display: block;
	max-width: 100%;
}

/* Whole page styling */
body {
	background-color: #f5f5f5; /* Slightly whiter background */
  }

.card-wrapper{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 3rem;
}

.app{
	width: 100%;
	padding-left: 10px;
	padding-right: 10px;
}

/* Container for each chart */
.chart-container {
display: flex;
align-items: center;
justify-content: center;
width: 400px; /* Keep container width */
height: auto; /* Keep container height */
background-color: #fff; /* White */
padding: 1rem 0;
margin: 1rem 0.5rem;
border-radius: 10px; /* Rounded corners */
overflow: hidden; /* Ensure graphs fit inside the container */
transition: background-color 0.3s; /* Smooth transition */
}

/* Hover effect on chart containers */
.chart-container:hover {
background-color: #d0cfcd; /* Slightly whiter background on hover */
}

/* Graph container styling */
.graph-css {
width: 591px;
height: 348px;
background-color: #fff; /* White */
padding: 20px;
border-radius: 10px; /* Rounded corners */
transition: background-color 0.3s; /* Smooth transition */
}

.graph-css:hover {
background-color: #ffffff; /* Slightly whiter background on hover */
}


.btn {
	background: #fafafb;
	color: #f15a29;
	font-size: 16px;
	font-weight: bolder;
	padding: 0.5rem 1rem;
	border-radius: 15px;
	cursor: pointer;
	transition: 1s;
}


  